# Base de datos
DATABASE_URL=postgresql+psycopg://resto:resto@localhost:5432/resto_platform
POSTGRES_USER=resto
POSTGRES_PASSWORD=resto
POSTGRES_DB=resto_platform

# Seguridad
SECRET_KEY=cambiar-por-una-clave-larga-y-aleatoria
ACCESS_TOKEN_EXPIRE_MINUTES=480
ALGORITHM=HS256

# App
ENVIRONMENT=development
DEBUG=true
API_V1_PREFIX=/api/v1
